.App {
  text-align: center;
}

.App h1, .App h2 {
  color: white;
}

.App p {
  color: white;
}

.App button {
  background-color: #25ffaf;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  width: 150px;
  height: 40px;
  margin-top: 10px;
}

.App button:hover{
  background-color: #016441;
  color: white;
  
}

.App input {
  border-radius: 5px;
  border-style: none;
  height: 30px;
  text-align: center;
  padding: 3px
}

.containerDashboard{
  width: 80%;
  max-width: 1200px;
  margin: auto;
  text-align: center;
  color: white;
}

.container{
  width: 30%;
  max-width: 1200px;
  margin: auto;
  text-align: center;
  color: white;
}

.formWrapperDashboard {
  padding-inline-start: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.formWrapperDashboard ul{
  padding-inline-start: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.formWrapper ul{
  padding-inline-start: 0px;
}

.formWrapperDashboard li{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-bottom: 20px;
}

.formWrapper li{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  margin-bottom: 20px;
}

.formWrapper li button, .formWrapperDashboard li button{
    margin: auto;
}

.formWrapperDashboard .buttonWrapperDashboard{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.buttonWrapperLogin{
  margin-top: 50px;
}

